{% extends 'base.html' %}
{% block title %}اجراء القرعة{% endblock %}
{% block content %}

<div style="width:900px;margin:auto;">
    <form method="get" action="{% url 'fin' %}">
    <label for="hex_code">رمز القرعة:</label>
    <input type="text" id="hex_code" name="hex_code" placeholder="أدخل رمز القرعة"><button type="submit">عرض</button>

</form>
    <p id="tit"><h1>مميزات القرعة(دارت)</h1></p>

    <!-- Loop through the Code_Koraa objects -->
    {% for code_koraa in code_koraa_objects %}

        <h2>كود القرعة: {{ code_koraa.hex_code }}</h2>
        <table>
            <thead>
                <tr>
                    <th>مبلغ القرعة</th>
                    <th>عدد المشاركين</th>
                    <th>مبلغ المشاركة</th>
                    <th>تاريخ البداية</th>
                    <th>تاريخ النهاية</th>
                    <th>أسماء المشاركين</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ code_koraa.amount }}</td>
                    <td>{{ code_koraa.montant_part|floatformat:2 }}</td>
                    <td>{{ code_koraa.number_part }}</td>
                    <td>{{ code_koraa.date_deb|date:"d/m/Y" }}</td>
                    <td>{{ code_koraa.date_fin|date:"d/m/Y" }}</td>
                    <td>
                        <!-- Table for participants under each Code_Koraa -->
                        <table>
                            <thead>
                                <tr>
                                    <th>أسماء المشاركين</th>
                                    <th>الترتيــــب</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for participant in code_koraa.participants.all %}
                                    <tr>
                                        <td>{{ participant.name }}</td>
                                        <td>{{ participant.order }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="2">No participants found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
 <h3><bold><a href="{% url 'tombola' s %}">إجراء القرعة</a></bold></h3>
    </div>
{% endblock %}


